@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


@foreach (var url in Urls)
{
    <p>@url</p>
}
@code {
    HttpClient http = new HttpClient();
    string[] Urls = Environment.GetEnvironmentVariable("NODE_URLS").Split(",");
    @* ConcurrentDictionary<string, NodeData> data new(); *@
}

    @* using System.Collections.Concurrent; *@